@model FitnessPlanet.Models.Product.ProductDetailsVM

@{
    ViewData["Title"] = "Details";
}
<style>
    .card-img-top {
        height: 100%;
    }
</style>

<center>
    <h1>Product Details</h1></center>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Html.DisplayFor(modelItem => Model.Picture)" class="card-img-top" alt="@Model.ProductName">
        </div>
        <div class="col-md-8">
            <div class="card mb-3" style="width: 70%; margin-left: auto; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; margin-right: 20px;">
                <div class="card-header">
                    <h5 class="card-title">@Model.ProductName</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Model.CategoryName - manufactured by: @Model.ManifacturerName</h6>
                    <p class="card-text">@Model.Description</p>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Color: @Model.Color</h6>
                    <p class="card-text">Products left: <b>@Model.Quantity</b></p>
                    <p class="card-text">Price: $@Model.Price</p>
                    @if (Model.Discount > 0)
                    {
                        <p class="card-text text-danger">Discount: @Model.Discount %</p>
                        <p class="card-text font-weight-bold">On sale for only: $@(string.Format("{0:N2}", Model.Price - (Model.Price * Model.Discount / 100)))</p>
                    }
                </div>
                <a asp-action="Index" class="btn btn-secondary" style="margin-bottom: 10px;">Back to List</a>
                @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
